<!DOCTYPE html>
<html lang="{{lang}}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{{data["title"][lang]|safe}}</title>
	<link rel="icon" href="{{url_for('static', filename='favicons/favicon.ico')}}">
	<link rel="icon" href="{{url_for('static', filename='favicons/favicon.svg')}}" type="image/svg+xml">
	<link rel="apple-touch-icon" href="{{url_for('static', filename='favicons/favicon.png')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
	<script defer type="text/javascript" src="{{url_for('static', filename='js/script.js')}}"></script>
</head>
<body>
	<header>
		<div class="logo">
			<img src="{{url_for('static', filename='images/logo_'+lang+'.svg')}}" alt="logo">
		</div>
		<div class="lang"><a href="/?lang={{data['lang'][lang]|safe}}">{{data["lang"][lang]|safe}}</a></div>
		<div class="banner flex-row wrap between">
			<img src="{{url_for('static', filename='images/Ukraine-War-8.jpg')}}" alt="city war">
			<div class="text-banner">
				<h1>{{data["text-banner"]["h1"][lang]|safe}}</h1>
				<p class="text-banner-p">{{data["text-banner"]["p"][lang]|safe}}</p>
				<a class="donate" href="#contribute">{{data["button-donate"][lang]|safe}}</a>
			</div>
		</div>
		<img class="flag-big" src="{{url_for('static', filename='images/flag-big.png')}}" alt="flag">
	</header>
	<main>
		<div class="fund-do center-text">
			<h2>{{data["fund-do"]["h2"][lang]|safe}}</h2>
			<p>{{data["fund-do"]["p"][lang]|safe}}</p>
		</div>

		<div class="slider pad-updown black-block center-text">
			<h2>{{data["slider"]["h2"][lang]|safe}}</h2>
			<div class="arrow ar-left hide" data-slide="prev">
				<img src="{{url_for('static', filename='images/icons/arrow.png')}}" alt="arrow-left">
			</div>
			<div class="images">
				<ul>
					<li class="image active" data-slide="0">
						<img src="{{url_for('static', filename='images/cities/Irpin.jpg')}}" alt="Irpin">
						<div class="image-text">
							<span>{{data["image-span"]["Irpin"][lang]|safe}}</span>
						</div>
					</li>
					<li class="image" data-slide="1">
						<img src="{{url_for('static', filename='images/cities/Kharkiv.jpg')}}" alt="Kharkiv">
						<div class="image-text">
							<span>{{data["image-span"]["Kharkiv"][lang]|safe}}</span>
						</div>
					</li>
					<li class="image" data-slide="2">
						<img src="{{url_for('static', filename='images/cities/Chernihiv.jpg')}}" alt="Chernihiv">
						<div class="image-text">
							<span>{{data["image-span"]["Chernihiv"][lang]|safe}}</span>
						</div>
					</li>
					<li class="image" data-slide="3">
						<img src="{{url_for('static', filename='images/cities/Mariupol.jpg')}}" alt="Mariupol">
						<div class="image-text">
							<span>{{data["image-span"]["Mariupol"][lang]|safe}}</span>
						</div>
					</li>
					<li class="image" data-slide="4">
						<img src="{{url_for('static', filename='images/cities/Bucha.jpg')}}" alt="Bucha">
						<div class="image-text">
							<span>{{data["image-span"]["Bucha"][lang]|safe}}</span>
						</div>
					</li>
					<li class="image" data-slide="5">
						<img src="{{url_for('static', filename='images/cities/Borodyanka.jpg')}}" alt="Borodyanka">
						<div class="image-text">
							<span>{{data["image-span"]["Borodyanka"][lang]|safe}}</span>
						</div>
					</li>
				</ul>
			</div>
			<div class="arrow ar-right" data-slide="next">
				<img src="{{url_for('static', filename='images/icons/arrow.png')}}" alt="arrow-right">
			</div>
			<div class="page">
				<span class="active" data-slide="0"></span>
				<span data-slide="1"></span>
				<span data-slide="2"></span>
				<span data-slide="3"></span>
				<span data-slide="4"></span>
				<span data-slide="5"></span>
			</div>
		</div>
		<div class="activities pad-updown center-text">
			<h2>{{data["activities"]["h2"][lang]|safe}}</h2>
			<div class="block-act light">
				<div class="item-act">
					<img src="{{url_for('static', filename='images/icons/crane-hook.png')}}" alt="crane-hook">
					<span>{{data["item-act"]["assembling"][lang]|safe}}</span>
				</div>
				<div class="item-act">
					<img src="{{url_for('static', filename='images/icons/constructing.png')}}" alt="constructing">
					<span>{{data["item-act"]["dismantling_of_ruins"][lang]|safe}}</span>
				</div>
				<div class="item-act">
					<img src="{{url_for('static', filename='images/icons/foundation.png')}}" alt="foundation">
					<span>{{data["item-act"]["building_materials"][lang]|safe}}</span>
				</div>
				<div class="item-act">
					<img src="{{url_for('static', filename='images/icons/truck-weight.png')}}" alt="truck-weight">
					<span>{{data["item-act"]["logistics"][lang]|safe}}</span>
				</div>
				<div class="item-act">
					<img src="{{url_for('static', filename='images/icons/bulldozer.png')}}" alt="bulldozer">
					<span>{{data["item-act"]["construction_equipment"][lang]|safe}}</span>
				</div>
			</div>
		</div>
		<div class="help-ukraine pad-updown black-block center-text">
			<h2>{{data["help-ukraine"]["h2"][lang]|safe}}</h2>
			<a class="donate" href="#contribute">{{data["button-donate"][lang]|safe}}</a>
		</div>
		<div class="partners pad-updown wrap center-text">
			<h2>{{data["partners"]["h2"][lang]|safe}}</h2>
			<p>{{data["partners"]["p"][lang]|safe}}</p>
			<div class="partners-logo">
				<div>
					<img src="{{url_for('static', filename='images/partner/monolit.jpg')}}" alt="monolit">
				</div>
				<div>
					<img src="{{url_for('static', filename='images/partner/save_child.jpg')}}" alt="save_child">
				</div>
				<div>
					<img src="{{url_for('static', filename='images/partner/victoria_ecten.jpg')}}" alt="victoria_ecten">
				</div>
			</div>
		</div>
		<div id="contribute" class="pad-updown black-block flex-column gap-20">
			<h2 class="center-text">{{data["contribute"]["h2"][lang]|safe}}</h2>
			<form method="post" id="donate-form">
				<div class="flex-row wrap around">
					<div class="left flex-column gap-10">
						<div class="data-input">
							<label for="firstname">{{data["contribute"]["firstname"][lang]|safe}}</label>
							<input type="text" id="firstname" name="firstname" placeholder='{{data["non-required"][lang]|safe}}'>
						</div>
						<div class="data-input">
							<label for="lastname">{{data["contribute"]["lastname"][lang]|safe}}</label>
							<input type="text" id="lastname" name="lastname" placeholder='{{data["non-required"][lang]|safe}}'>
						</div>
						<div class="data-input">
							<label for="donat_email">{{data["contribute"]["email"][lang]|safe}}</label>
							<input type="text" id="donat_email" name="donat_email" placeholder='{{data["non-required"][lang]|safe}}'>
						</div>
					</div>

					<div class="right flex-column gap-10">
						<div class="flex-column gap-10">
							<span>{{data["contribute"]["curr"][lang]|safe}}</span>
							<div class="check-curr">
								<div class="radio">
									<input id="curr-usd" class="custom-radio" type="radio" name="curr" value="usd" checked>
									<label for="curr-usd">USD</label>
								</div>
								<div class="radio">
									<input id="curr-uah" class="custom-radio" type="radio" name="curr" value="uah">
									<label for="curr-uah">UAH</label>
								</div>
								<div class="radio">
									<input id="curr-eur" class="custom-radio" type="radio" name="curr" value="eur">
									<label for="curr-eur">EUR</label>
								</div>
							</div>
						</div>
						<div class="amount-donate flex-column gap-10">
							<span>{{data["contribute"]["choose-amount"][lang]|safe}}</span>
							<div class="amount grid">
								<div class="radio-button" data-value="0">
									<input id="value-1" class="custom-radio-button" name="value" type="radio" value="20">
									<label for="value-1">$ 20</label>
								</div>
								<div class="radio-button" data-value="1">
									<input id="value-2" class="custom-radio-button" name="value" type="radio" value="50" checked>
									<label for="value-2">$ 50</label>
								</div>
								<div class="radio-button" data-value="2">
									<input id="value-3" class="custom-radio-button" name="value" type="radio" value="100">
									<label for="value-3">$ 100</label>
								</div>
								<div class="radio-button" data-value="3">
									<input id="value-4" class="custom-radio-button" name="value" type="radio" value="200">
									<label for="value-4">$ 200</label>
								</div>
								<div class="radio-button other">
									<input id="value-5" class="custom-radio-button" name="value" type="radio" value="other">
									<label for="value-5">{{data["contribute"]["other"][lang]|safe}}</label>
								</div>
							</div>
							<div id="div-amount" data-content="$">
								<input id="amount-get" name="amount" type="text" value="50" disabled>
							</div>
						</div>
						<div class="flex-row wrap">
							<button class="donate">{{data["button-donate"][lang]|safe}}</button>
							<img src="{{url_for('static', filename='images/visa-mc-liq.png')}}" alt="visa-mc-liq">
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="payment flex-column gap-20">
			<h2 class="center-text">{{data["payment"]["h2"][lang]|safe}}</h2>
			<div class="flex-row wrap around">
				<div class="left flex-column gap-20">
					<div class="details">
						<span class="bold">{{data["details"]["1"]["name"][lang]|safe}}</span>
						<span class="light">{{data["details"]["1"]["value"][lang]|safe}}</span>
					</div>
					<div class="details">
						<span class="bold">{{data["details"]["2"]["name"][lang]|safe}}</span>
						<span class="light">{{data["details"]["2"]["value"][lang]|safe}}</span>
					</div>
					<div class="details">
						<span class="bold">{{data["details"]["3"]["name"][lang]|safe}}</span>
						<span class="light">{{data["details"]["3"]["value"][lang]|safe}}</span>
					</div>
				</div>
				<div class="right flex-column gap-20">
					<div class="details">
						<span class="bold">{{data["details"]["4"]["name"][lang]|safe}}</span>
						<span class="light">{{data["details"]["4"]["value"][lang]|safe}}</span>
					</div>
					<div class="details">
						<span class="bold">{{data["details"]["5"]["name"][lang]|safe}}</span>
						<span class="light">{{data["details"]["5"]["value"][lang]|safe}}</span>
					</div>
					<div class="details">
						<span class="bold">{{data["details"]["6"]["name"][lang]|safe}}</span>
						<span class="light">{{data["details"]["6"]["value"][lang]|safe}}</span>
					</div>
				</div>
			</div>
		</div>
		<div class="assistance pad-updown black-block flex-column gap-20">
			<h2 class="center-text">{{data["assistance"]["h2"][lang]|safe}}</h2>
			<form method="post" id="assistance-form">
				<div class="flex-row wrap around">
					<div class="left flex-column gap-10">
						<div class="data-input">
							<label for="fullname">{{data["assistance"]["fullname"][lang]|safe}}</label>
							<input type="text" id="fullname" name="fullname" placeholder='{{data["required"][lang]|safe}}' required>
						</div>
						<div class="data-input">
							<label for="organization">{{data["assistance"]["organization"][lang]|safe}}</label>
							<input type="text" id="organization" name="organization" placeholder='{{data["non-required"][lang]|safe}}'>
						</div>
						<div class="data-input">
							<label for="assistance_email">{{data["assistance"]["email"][lang]|safe}}</label>
							<input type="text" id="assistance_email" name="assistance_email" placeholder='{{data["required"][lang]|safe}}' required>
						</div>
					</div>

					<div class="right flex-column gap-10">
						<div class="data-input">
							<label for="request_assistance">{{data["assistance"]["request_assistance"][lang]|safe}}</label>
							<textarea name="request_assistance" id="request_assistance" cols="50" rows="8" placeholder='{{data["required"][lang]|safe}}' required></textarea>
						</div>
						<button class="donate">{{data["button-send"][lang]|safe}}</button>
					</div>
				</div>
			</form>
		</div>
	</main>
	<footer class="pad-updown">
		<h2 class="center-text">{{data["contacts"][lang]|safe}}</h2>
		<div class="contacts flex-row wrap around">
			<div class="dir-fund flex-column gap-20">
				<p>{{data["dir-fund"]["p1"][lang]|safe}}</p>
				<p>{{data["dir-fund"]["p2"][lang]|safe}}</p>
			</div>
			<div class="adress-fund flex-column gap-20">
				<p>{{data["adress-fund"]["p1"][lang]|safe}}</p>
				<p>{{data["adress-fund"]["p2"][lang]|safe}}</p>
			</div>
		</div>
		<div class="liqpay flex-row wrap around">
			<div class="left flex-column gap-20">
				<img src="{{url_for('static', filename='images/visa-liq-mob.png')}}" alt="visa-liq-mob">
			</div>
			<div class="right flex-column gap-20">
			</div>
		</div>
		<p class="center-text">All rights reserved 2022</p>
	</footer>
</body>
</html>