*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
figure,
figcaption,
blockquote {
  margin: 0;
}

@font-face {
  font-family: "Futura Bold";
  src: url("/static/fonts/Futura Bold.ttf");
}

@font-face {
  font-family: "Futura Medium";
  src: url("/static/fonts/Futura Medium.ttf");
}

@font-face {
  font-family: "Jura";
  src: url("/static/fonts/Jura.ttf");
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Futura Bold";
  font-style: normal;
  background-color: #fff;
  overflow-x: hidden;
}

p {
  font-family: "Jura";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  margin: 20px 0;
}

input {
  border: none;
}

textarea {
  padding: 15px 10px;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  resize: none;
}

img {
  user-select: none;
  display: block;
}

button.donate, a.donate {
  font-family: "Futura Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  cursor: pointer;
  padding: 10px 50px;
  background: #FFD500;
  border-radius: 70px;
  border-style: none;
  transition: 0.3s;
  align-self: flex-start;
  color: #000;
  text-decoration: none;
}

button.donate + img {
  display: inline-block;
}

button.donate:hover, a.donate:hover {
  background: #00448b;
  color: #FFD500;
  border-style: none;
}

/*Radio*/
.radio {
  display: inline-block;
  margin-right: 1em;
}

.custom-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-radio+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.custom-radio+label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px solid #fff;
  border-radius: 50%;
  margin-right: 0.2em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

/* стили при наведении курсора на радио */
.custom-radio:not(:disabled):not(:checked)+label:hover::before {
  border-color: #fff580;
}

/* стили для активной радиокнопки (при нажатии на неё) */
.custom-radio:not(:disabled):active+label::before {
  background-color: #fff580;
}

/* стили для радиокнопки, находящейся в фокусе */
.custom-radio:focus+label::before {
  box-shadow: 0 0 0 0.2rem rgba(251, 255, 0, 0.25);
}

/* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
.custom-radio:focus:not(:checked)+label::before {
  border-color: #fff580;
}

/* стили для радиокнопки, находящейся в состоянии checked */
.custom-radio:checked+label::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23ffd500'/%3e%3c/svg%3e");
}

/* стили для радиокнопки, находящейся в состоянии disabled */
.custom-radio:disabled+label::before {
  background-color: #e9ecef;
}
/*end Radio*/

/*Radio button*/
.radio-button {
  display: inline-block;
  font-family: "Jura";
  font-size: 20px;
}

.custom-radio-button {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-radio-button+label {
  display: inline-block;
  background-color: #c4c4c4;
  color: #000000;
  border-radius: 5px;
  padding: 10px;
  width: -webkit-fill-available;
  align-items: center;
  user-select: none;
}

/* стили при наведении курсора на радио */
.custom-radio-button:not(:disabled):not(:checked)+label:hover {
  box-shadow: inset 0 0 0 0.2rem rgba(251, 255, 0, 0.25);
}

/* стили для активной радиокнопки (при нажатии на неё) */
.custom-radio-button:not(:disabled):active+label {
  background-color: #fff580;
}

/* стили для радиокнопки, находящейся в фокусе */
.custom-radio-button:focus+label {
  box-shadow: 0 0 0 0.2rem rgba(251, 255, 0, 0.25);
}

/* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
.custom-radio-button:focus:not(:checked)+label {
  background-color: #fff580;
}

/* стили для радиокнопки, находящейся в состоянии checked */
.custom-radio-button:checked+label {
  background-color: #ffd500;
}

/* стили для радиокнопки, находящейся в состоянии disabled */
.custom-radio-button:disabled+label {
  background-color: #e9ecef;
}
/*End Radio-button*/

.black-block {
  background-color: #2C2C2C;
  color: #fff;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  align-items: center;
}

.gap-10 {
  gap: 10px;
}

.gap-20 {
  gap: 20px;
}

.around {
  justify-content: space-around;
}

.between {
  justify-content: space-between;
}

.center-text { 
  text-align: -webkit-center;
}

.pad-updown {
  padding: 60px 0;
}

.bold {
  font-family: "Futura Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
}

.light {
  font-family: "Jura";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
}

header {
  background-image: url('/static/images/flag 1.jpg');
  background-repeat: no-repeat;
  background-size: 60%;
}

.flag {
  width: 50%;
  margin-bottom: -50px;
}

.flag, .flag-big, .logo {
  width: 100%;
  pointer-events: none;
  user-select: none;
}

.logo {
  margin: 70px 0 20px 0;
}

.logo img {
  max-height: 6vw;
  margin: auto;
}

.lang {
  position: absolute;
  right: 5vw;
  top: 5vw;
}

.lang a {
  text-transform: uppercase;
  text-decoration-line: none;
  font-family: "Futura Medium";
  font-style: normal;
  color: #000;
  font-weight: 500;
  font-size: 25px;
}

.banner>img {
  width: 40%;
}

.text-banner {
  width: 55%;
  padding-right: 10%; 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

h1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 28px;
  line-height: 35px;
}

h2 {
  margin-bottom: 20px;
}

.fund-do {
  width: 65%;
  margin: 40px auto;
}

.slider {
  position: relative;
}

.arrow {
  display: inline-block;
  background-color: #2c2c2c9c;
  padding: 5px;
  cursor: pointer;
  transition: 0.3s;
  z-index: 1;
}

.arrow:hover {
  transform: scale(1.2);
}

.arrow.hide {
  display: none;
}

.ar-left {
  position: absolute;
  left: 15%;
  bottom: 45%;
}

.ar-right {
  position: absolute;
  right: 15%;
  bottom: 45%;
}

.ar-left img {
  transform: rotate(180deg);
}

.images {
  position: relative;
  width: 60%;
  margin: auto;
  overflow: hidden;
}

.images ul {
  display: flex;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  transition: 1s;
}

.images ul li {
  display: inline-block;
  position: relative;
  flex: 0 0 100%;
}

.images ul li img {
  width: 100%;
}

.image-text {
  display: inline-block;
  position: absolute;
  width: 230px;
  font-size: 24px;
  bottom: 8%;
  left: 0;
  padding: 2% 5%;
  background-color: rgba(13, 13, 13, 0.72);
}

.page {
  padding-top: 2%;
  user-select: none;
}

.page span {
  display: inline-block;
  cursor: pointer;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #fff;
}

.page span.active {
  background-color: #FFD500;
}

.block-act {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  font-size: 15px;
  flex-wrap: wrap;
}

.block-act .item-act {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 140px;
}

.help-ukraine h2 {
  margin-bottom: 40px;
}

.partners-logo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.partners-logo div {
  width: 300px;
}

.partners-logo div img {
  height: 200px;
}

.left {
  width: 30%;
}

.data-input {
  display: flex;
  flex-direction: column;
}

.data-input label, form span {
  font-family: "Jura";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
}

.data-input input {
  padding: 15px 10px;
  border-radius: 5px;
  font-size: 15px;
}

.amount {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
}

.amount .radio-button {
    text-align: center;
}

#div-amount {
  position: relative;
}

#div-amount::before {
  content: attr(data-content);
  display: inline-block;
  position: absolute;
  color: #40404078;
  left: 3%;
  top: 12%;
  font-family: "Jura";
  font-size: 25px;
}

#amount-get {
  padding: 8px 40px;
  width: -webkit-fill-available;
  font-family: 'Jura';
  font-size: 20px;
  border-radius: 5px;
}

#amount-get:disabled {
  background-color: #fff;
  color: #000;
  opacity: 1;
}

.payment {
  padding: 40px;
}

.details {
  display: flex;
  flex-direction: column;
}

.dir-fund p:first-of-type{
  text-transform: uppercase;
}

@media (max-width: 1200px) {
  .pad-updown {
    padding: 50px 0;
  }

  .amount {
    grid-template-columns: repeat(3, 1fr);
  }

  .amount .radio-button.other {
    grid-column: 2 / 4;
  }
}

@media (max-width: 900px) {
  .payment .flex-row.wrap.around {
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    align-items: stretch;
    padding: 0 20px;
    place-self: center;
  }

  .payment .left {
    width: 100%;
  }
}

@media (max-width: 800px) {
  header {
    background-image: url('/static/images/flag-mob.png');
    background-size: 100% 15%;
  }

  .flex-row.wrap {
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    align-items: stretch;
    padding: 0 20px;
    place-self: center;
  }

  .left {
    width: 100%;
  }

  .logo {
    margin: 90px 0 20px 0;
  }

  .logo img {
    max-height: 15vw;
    margin: 20px;
  }

  .banner.flex-row.wrap {
    padding: 0;
    align-items: center;
  }

  .banner>img {
    width: 100%;
  }

  .text-banner {
    width: 90%;
  }

  .fund-do {
    width: 90%;
    text-align: start;
  }

  .images {
    width: 100%;
  }

  .ar-left {
    left: 2%;
  }

  .ar-right {
    right: 2%;
  }

  .help-ukraine {
    padding: 60px 20px;
  }

  .partners-logo {
    flex-direction: column;
  }

  #assistance-form .donate {
    align-self: center;
  }

  .dir-fund {
    align-self: center;
    text-align: center;
  }

  .liqpay img {
    width: 50%;
    align-self: center;
  }
}
